body {
  color: #434455;
  /* background-color: #FFFFFF; */
  background: var(--CLOUD, #ffffff);
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

ol,
ul {
  list-style-type: none;
}

img {
  display: block;
}


.section {
  padding-top: 188px;
  padding-bottom: 188px;
  /* padding: 188px 0; */
}

.container {
  width: 1158px;
  margin: 0 auto;
  /* для центрування контейнера на сторінці*/
  /* Для цього класу заданий стиль */
  padding: 0 15px;
  /*для налаштування внутрішніх відступів для контенту (можна використовувати запис */
  /*
  padding: 0 15px 0 15px;
  padding-left: 15px;
  padding-right: 15px;
*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  /*
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
*/
  border-bottom: 1px solid #e7e9fc
}

.header-items {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-right: 76px
}

.logo::before {
  content: "";
  margin-right: 40px;
}

/* 
.logo>span {
    color: #2e2f42;
}
*/

.menu-items {
  display: flex;
  gap: 40px;

}

.menu-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  padding: 24px 0;
}

.menu-item:hover,
:focus {
  color: #404bbf;
}



/* address */
/* address {
  display: flex;
} */

.address {
  display: flex;
  font-style: normal;
  gap: 40px;
}

.address-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* .address-item:hover,
:focus {
    color: #404bbf;
} */
.address-link {
  color: #434455;
}

.address-link:hover,
:focus {
  color: #404bbf;
}



/* section */
.hero {
  /* flex-shrink: 0; */
  background-color: #2e2f42;
}



.hero-header {

  color: var(--WHITE, #FFF);
  text-align: center;

  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;

  max-width: 496px;
  /* text-align: center; */
}

.hero-button {

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

  /* background-color: #4d5ae5; */
  /* background-color: #4D5AE5; */
  background: var(--IRIS, #4D5AE5);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  cursor: pointer;
}

button:hover,
:focus {
  background-color: #404BBF;
}





/* section.#2: Benefits */
.benefits {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-items {
  display: flex;
  gap: 24px;
  /*
  для визначення розмірів відступів між елементами списку 
  (можна використовувати margin-right: 24px для тега li у класі,
   для останього li використовуємо margin-right: 0 для обнулення відступів)
   */
}

/*
Для першого елементу списку в класі заданий стиль width: calc((100% - 72px) / 4);
для визначення ширини пункту списку (від загальної ширини екрану віднімаємо суму відступів між пунктами і ділимо це на кількість пунктів списку) 
(можна також використовувати width calc((100% - 3 * 24px) / 4) 
або flex-basis: calc((100% - 3 * 24px) / 4) 
або flex-basis: calc((100% - 72px) / 4))
*/
.benefits-item {
  /* width: 240px; */
  flex-basis: calc((100% - 72px) / 4);
}

.benefits-item-header {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}

/* section.#3:  Our Team */
.section-team {
  /* display: flex; */
  background-color: #F4F4FD;
  /* padding: 120px 0 */
  /* padding: 120px 0 120px ; */
  padding-top: 120px;
  padding-bottom: 120px;

}

.team-items {
  display: flex;
}

.team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-item {
  margin: 12px;
  background-color: #FFFFFF;
}

/* ToDo: makw as common class .item-header */
.team-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}



/* section.#4: Portfolio */
.portfolio-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.portfolio-item {
  margin: 12px;
}

.portfolio-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}



/* footer */
.footer {
  background-color: #2e2f42;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: var(--CLOUD, #F4F4FD);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}